<div class="main">
    <div class="firstdiv">
    <div>
        <img height="130px" width="130px" src="https://e7.pngegg.com/pngimages/221/585/png-clipart-financial-adviser-finance-bank-financial-planner-bank-service-investment.png" alt="Agent">

    </div>
    <div class="hdivs">
     <h1> <b> Nom : {{agent.nom}} </b> </h1>
      <h1> <b> Prenom : {{agent.prenom}} </b></h1> 
    </div>
</div>
</div>
<hr>
<div>
    <h2>Information Personnelles</h2><br>
    <div>
        <h4> <b>Email : </b></h4><h3>{{agent.email}}</h3>
        <br>
        <h4> <b>Role : </b></h4><h3>E-banking agent</h3>
    </div>
</div>
