<br>
<h1>  Comptes du client :  <b>{{client.nom}} {{client.prenom}}</b> </h1>
<br>

 <h3 class="text-danger"> ID du client:  <b> {{ clientId }}  </b> </h3>
 
<div>
    <a routerLink="/addcompte" class="float-right mb-6"> <button class="button1" style="vertical-align:middle" type="submit"><span> <b> Ajouter un Compte</b> </span></button> </a>
</div>
<br>
<br>
 <hr>

<br>
<div class="transcontainer d-flex flex-row">
<div class="col-md-8 p-2">
    <h1 class="clearfix">Liste des Comptes</h1>
        <div class="col-xl-3 col-lg-6" *ngFor="let compte of comptes" >
            <div class="card l-bg-orange-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                    <div class="mb-4">
                        <h1 class="card-title mb-0" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">N° Rib : {{compte.rib}}</h1>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            
                        </div>
                        <div class="col-4 text-right">
                            <h1 class="d-flex align-items-center mb-0" style="font-size: 34px;">
                                ${{compte.solde}}
                            </h1>                        </div>
                    </div>
                    <button class="button" (click)= "deleteCompte(compte.id_compte)" style="vertical-align:middle" value="{{compte.rib}}" type="submit"><span> <b>Supprimer</b> </span></button> 

  
  
                </div>
            </div>
        </div>
</div>
<div class="operationsdiv col-4 mr-6 mb-4" id="tran">
    <h2 class="text-success">Transactions : </h2>
        <div class="container d-flex justify-content-center"  *ngFor="let operation of operations">
            <div class="card mt-5 p-3">
                <div class="media"> <img src="https://imgur.com/3UmlFEf.png" class="mr-3">
                    <div class="media-body">
                        <h3 class="mt-2 mb-0 text-success">montant {{operation.montant}} MAD</h3> <p class="text-info">Mar 20,2020</p>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
<br><br>



