<p>cdetails works!</p>

<p> this is my {{ clientId }} </p>

<br><br>

<div class="col-md-10 "  >
        <div class="col-xl-3 col-lg-6" *ngFor="let compte of comptes" >
            <div class="card l-bg-orange-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">{{compte.solde}}</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                $11.61k
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>2.5% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
</div>
<br><br>


 <button class="button1" style="vertical-align:middle" type="submit"><span> <b> Modifier le compte</b> </span></button> 
 <button class="button" style="vertical-align:middle" type="submit"><span> <b>Supprimer le compte</b> </span></button> 
