  
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header" fxLayout="row" fxLayoutAlign="space-between"><img src="https://mpng.subpng.com/20180330/cvq/kisspng-testimonial-computer-icons-customer-business-customer-5abe64abf11639.0577905115224270519875.jpg" alt="Agent">
            <p class="name"> <b>{{ nom }} {{ prenom}}</b> </p>
        </div>
        <div class="card-body">
          <p class="card-text"><p> <b> Email : </b>  {{ email }} </p>
          <p> <b>Téléphone :</b> {{ tel }}</p> 
          <p><b> Cin : </b>  {{ cin }}</p>
          <a routerLink="/clientDetails/{{id}}"> <button class="button" style="vertical-align:middle" type="submit"><span>Détails </span></button> </a>
        </div>
        </div>


      